{% extends 'layout.html' %}
{% block title_content %}
{% if is_update %}
<title>Update</title>
{% else %}
<title>Register</title>
{% endif %}
{% endblock %}

{% block page_content %}
<div class="container mt-5">
      <h2 class="text-center alert alert-danger">ModelForm CURD - Functional Based View</h2>

      <div class="row">
          <div class="col-sm-4">
              {% if is_update %}
              <h4 class="text-center alert alert-info">Update Employee</h4>
              {% else %}
              <h4 class="text-center alert alert-info">Add Employee</h4>
              {% endif %}
              <form action="" method="POST">
                {% csrf_token %}
{{form.as_p}}
                  <div class="form-group">
                      <!-- <button type="submit" class="btn btn-primary">Update Employee</button> -->
                      {% if is_update %}
                      <button type="submit" class="btn btn-success">Update Employee</button>
                      {% else %}
                      <button type="submit" class="btn btn-success">Create Employee</button>
                  {% endif %}
                  </div>
              </form>
               <div class="col-sm-7 offset-1"><!-- SECTION - 2 for Rendering Existing  EMployees -->
              <h4 class="text-center alert alert-info">List of Existing Employees</h4>

                  <table class="table table-striped table-hover">
                    <thead>
                      <tr>
                        <th scope="col">Id</th>
                        <th scope="col">Emp No</th>
                        <th scope="col">Name</th>
                        <th scope="col">Age</th>
                        <th scope="col">Salary</th>
                        <th scope="col">Address</th>
                        <th scope="col">Action</th>
                      </tr>
                    </thead>
                    <tbody>
                    {% for employee in employee_list %}
                      <tr>
                        <th scope="row">{{ employee.id }}</th>
                        <td>{{ employee.eno }}</td>
                        <td>{{ employee.name }}</td>
                        <td>{{ employee.age }}</td>
                        <td>{{ employee.salary }}</td>
                        <td>{{ employee.address }}</td>
                        <td>
                            <a href="{% url 'user_application:updating' pk=employee.id %}" class="btn btn-warning btn-sm">Edit</a>
                            <a href="{% url 'user_application:deleting' pk=employee.id %}" class="btn btn-danger btn-sm">Delete</a>
                        </td>
                      </tr>
                    {% empty %}
                    <tr>
                        <th scope="row">No Data</th>
                        <td>No Data</td>
                        <td>No Data</td>
                        <td>No Data</td>
                        <td>No Data</td>
                        <td>No Data</td>
                        <td>No Action</td>
                      </tr>
                    {% endfor %}
                    </tbody>
                  </table>
          </div>
      </div>
 </div>
{% endblock %}